mixin printPayMethod(payMethod)
	if payMethod == 0
		| Rimessa Diretta
	else
		| Bonifico
#main.strech
	.flex-layout
		div
			h1#issuer-name #{invoice.issuer.name}
			br
			p#issuer-address.address.no-bottom-margin
				| #{invoice.issuer.addresses[0].street} #{invoice.issuer.addresses[0].number}
				br
				| #{invoice.issuer.addresses[0].postalCode} #{invoice.issuer.addresses[0].city}
			table#issuer-data-table
				tr
					td Tel\Fax
					td #{invoice.issuer.phones[0].number}
				tr
					td Partita IVA
					td #{invoice.issuer.piva}
				tr
					td Codice Fiscale
					td #{invoice.issuer.fiscalCode}
		.text-center
			h1#invoice-title Fattura
			.flex-layout
				.box-border(style="margin-right:5px;text-align:center;")
					p Numero Fattura
					span: strong #{invoice.progressiveNumber}
				.box-border(style="margin-left:5px;text-align:center;")
					p Data Fattura
					span: strong #{new Date(invoice.date).toLocaleDateString()}
			.text-left.box-border.margin-top
				span Intestazione
				h1#nominee-name #{invoice.nominee.name}
				span#nominee-address.address
					| #{invoice.nominee.addresses[0].street}, #{invoice.nominee.addresses[0].number}
					br
					| #{invoice.nominee.addresses[0].postalCode} #{invoice.nominee.addresses[0].city} #{invoice.nominee.addresses[0].nation}
					br
					| Tel:
					if invoice.nominee.phones && invoice.nominee.phones.length>0
						| #{invoice.nominee.phones[0].number}
	.box-border.box-margin-top: table.strech.table-3
		tr
			th Codice Fiscale
			th Partita IVA
			th Esente IVA
		tr
			td #{invoice.nominee.fiscalCode}
			td #{invoice.nominee.piva}
			td Non Esente
	.box-border.box-margin-top: table.strech.table-3
		tr
			th Tipo di Pagamento
			th IBAN
			th Valuta
		tr
			td: +printPayMethod(invoice.payMethod)
			td #{invoice.iban}
			td EURO
	div
		if invoice.headerText
			#{invoice.headerText}
	#items-box.box-border.box-margin-top: table#items-table.strech
		tr
			th Descrizione
			th Unità
			th Quantità
			th Prezzo
			th IVA%
			th Sc%
			th Importo
		each item in invoice.items
			tr
				td #{item.description}
				td #{item.unit}
				td #{item.quantity}
				td #{item.price.toLocaleString(undefined, {minimumFractionDigits: 2})}
				td #{item.iva}
				td #{item.discount}
				td
					if item.imponibile
						| #{item.imponibile.toLocaleString(undefined, {minimumFractionDigits: 2})}
	.flex-layout.margin-top
		.box-border: table.strech
			tr
				th Imponibile scontato
				th IVA %
				th Imposta
			if invoice.impArray
				each imp in invoice.impArray
					tr
						td #{imp.imponibile.toLocaleString(undefined, {style:"currency", currency:"EUR"})}
						td #{imp.iva}
						td #{imp.imposta.toLocaleString(undefined, {style:"currency", currency:"EUR"})}
		div
		.box-border: table#tot-table.strech
			tr
				td Totale Imponibile
				td #{invoice.totImponibile.toLocaleString(undefined, {style:"currency", currency:"EUR"})}
			tr
				td Imposta Totale
				td #{invoice.totImposta.toLocaleString(undefined, {style:"currency", currency:"EUR"})}
			tr
				th Importo Totale
				td: strong #{invoice.tot.toLocaleString(undefined, {style:"currency", currency:"EUR"})}
	div
		if invoice.footerText
			#{invoice.footerText}
	#page Pagina 1 di 1
