
.left-block
	.editable-field.container-flex
		.item-flex
			h3(style="display:inline-block;") #{company.name}
			span.edit(bind-event, bind-event-click="editField", data-field-name="name") Modifica
		button.btn.btn-danger.btn-xs.pull-right(bind-event, bind-event-click="deleteCompany")
			span.fa.fa-close
			| Elimina
	.info-block
		p.editable-field Partita IVA: #{company.piva}
			span.edit(bind-event, bind-event-click="editField", data-field-name="piva") Modifica
		p.editable-field Codice Fiscale:
			span(style="text-transform:uppercase;") #{company.fiscalCode}
			span.edit(bind-event, bind-event-click="editField", data-field-name="fiscalCode") Modifica
	.info-block
		h4 Indirizzi
			button.pull-right.btn.btn-primary.btn-xs(bind-event, bind-event-click="addAddress")
				span.fa.fa-plus
				| Aggiungi
		table.table.table-striped.table-bordered.table-hover.table-condensed(style="background-color:white;color:black;")
			thead: tr
				th Strada
				th Numero
				th CAP
				th Città
				th Nazione
				th -
			tbody
				if company.addresses && company.addresses.length>0
					each address, idx in company.addresses
						tr
							td #{address.street}
							td #{address.number}
							td #{address.postalCode}
							td #{address.city}
							td #{address.nation}
							td
								.btn-group
									button.btn.btn-primary.btn-xs(bind-event, bind-event-click="editAddress", data-address-idx=idx, title="Modifica"): span.fa.fa-edit
									button.btn.btn-danger.btn-xs(bind-event, bind-event-click="removeAddress", data-address-idx=idx, title="Elimina"): span.fa.fa-close
				else
					tr: td(colspan="5") Nessun indirizzo
	.info-block
		h4 Numeri di telefono
			button.pull-right.btn.btn-primary.btn-xs(bind-event, bind-event-click="addPhone")
				span.fa.fa-plus
				| Aggiungi
		table.table.table-striped.table-bordered.table-hover.table-condensed(style="background-color:white;color:black;")
			thead: tr
				th Numero
				th Descrizione
			tbody
				if company.phones && company.phones.length>0
					each phone, idx in company.phones
						tr
							td #{phone.number}
							td #{phone.description}
							td
								.btn-group
									button.btn.btn-primary.btn-xs(bind-event, bind-event-click="editPhone", data-phone-idx=idx, title="Modifica"): span.fa.fa-edit
									button.btn.btn-danger.btn-xs(bind-event, bind-event-click="removePhone", data-phone-idx=idx, title="Elimina"): span.fa.fa-close
				else
					tr: td(colspan="2") Nessun Numero
.right-block
	#company-invoices(dynamicload-component=true, component="invoicesList", component-data=company.$loki)
