mixin form-group(args)
	- var style = false
	if args.width
		- style="width:"+args.width+";"
	- var type = 'text'
	if args.type
		- type = args.type
	- var defaultAutofocus = false
	unless args.autofocus
		- args.autofocus = defaultAutofocus
	.form-group(class!=attributes.class): .input-group
		span.input-group-addon #{args.label}
		input.form-control(id=args.id, name=args.name, type=type, placeholder=args.placeholder, style=style, autofocus=args.autofocus, value=args.value )

mixin select-form(args)
	- var style = false
	if args.width
		- style="width:"+args.width+";"
	.form-group(class!=attributes.class): .input-group
		span.input-group-addon #{args.label}
		select.form-control(name=args.name, style=style)
			each val, index in args.options
				- var label = val.label
				unless label
					- label = val.value
				- var selected = val.selected
				if args.value
					- selected = args.value == val.value
				option(value=val.value, selected=selected)= label
